<!DOCTYPE html>
<html lang="en">

<head>
 {% load static %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Campaign2</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  
  <link href="{% static 'img/favicon.png' %}" rel="icon">
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Fonts -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Main CSS File -->
{% block styles %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}
  <!-- =======================================================
  * Template Name: Selecao
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="service-details-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
       
        <h1 class="sitename">HOPESCOPE</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
         
          <li class="dropdown"><a href="#"><span>Campaigns</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <a href="{% url 'create_campaign' %}" class="btn btn-primary">Create New Campaign</a>
             
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Register</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
             
            
              <li><a href="{% url 'userreg' %}">As User</a></li>
              <li><a href="{% url 'orgreg' %}">As Organization</a></li>
              
            </ul>
            </li>
          <li class="dropdown"><a href="#"><span>Logins</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'userlogin' %}">User Login</a></li>
            
              <li><a href="{% url 'orglogin' %}">Organization Login</a></li>
           
            </ul>
          </li>

          <div><a href="{% url 'logout' %}">Logout</a></div>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Welcome Organization</h1>
        <!-- <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p> -->
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">User</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

   






    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">
      <div class="container">

        <div class="row">

         
                </div><section id="services" class="services section">

                    <!-- Section Title -->
                    <div class="container section-title" data-aos="fade-up">
                      <h2>Campaigns</h2>
                      <p>Current Campaigns</p>
                    </div><!-- End Section Title -->
              
                    <div class="container">
              
                      <div class="row gy-4">
              
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                          <div class="service-item  position-relative">
                            <div class="icon">
                              <i class="bi bi-cash-stack" style="color: #0dcaf0;"></i>
                            </div>
                            <a href="{% url 'campaign2' %}" class="stretched-link">
                              <h3>Bright Futures</h3>
                            </a>
                            <p>Empowering Underprivileged Children : <br>"Join us in our mission to provide education, food, and shelter to underprivileged children in our community. Your donation will help us fund school supplies, nutritious meals, and safe living conditions for kids who need it most. Every contribution makes a difference in creating a brighter future for these young lives. Together, we can ensure that every child has the opportunity to learn, grow, and thrive."</p>
                          </div>
                        </div><!-- End Service Item -->
              
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                          <div class="service-item position-relative">
                            <div class="icon">
                              <i class="bi bi-calendar4-week" style="color: #fd7e14;"></i>
                            </div>
                            <a href="{% url 'campaign2' %}" class="stretched-link">
                              <h3>GreenTech: Revolutionizing Sustainability with Cutting-Edge Technology</h3>
                            </a>
                            <p>Welcome to GreenTech, where innovation meets sustainability. We’re developing advanced, eco-friendly technology that reduces waste and energy consumption while promoting a healthier planet. Our flagship product, the EcoSmart Device, integrates seamlessly into everyday life, helping users minimize their carbon footprint. With your support, we can accelerate production, enhance our technology, and bring our vision of a greener future to life. Be part of the solution—invest in GreenTech today.</p>
                          </div>
                        </div><!-- End Service Item -->
              
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                          <div class="service-item position-relative">
                            <div class="icon">
                              <i class="bi bi-chat-text" style="color: #20c997;"></i>
                            </div>
                            <a href="{% url 'campaign2' %}" class="stretched-link">
                              <h3>Rebuilding Lives: Support Hurricane Relief Efforts</h3>
                            </a>
                            <p> In the wake of the recent hurricane, countless families are left without homes, food, and basic necessities. Our disaster relief fund is dedicated to providing immediate assistance and long-term support for affected communities. Your donation will help supply emergency aid, rebuild homes, and offer psychological support to those impacted. Stand with us in the face of adversity and help rebuild lives from the ground up..</p>
                          </div>
                        </div><!-- End Service Item -->
              
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                          <div class="service-item position-relative">
                            <div class="icon">
                              <i class="bi bi-credit-card-2-front" style="color: #df1529;"></i>
                            </div>
                            <a href="{% url 'campaign2' %}" class="stretched-link">
                              <h3>Community Garden Initiative</h3>
                            </a>
                            <p> Our neighborhood is in need of a green oasis where everyone can connect with nature, learn about sustainable practices, and enjoy fresh produce. The "Grow Together" community garden aims to transform a vacant lot into a thriving garden space. Your donation will help us purchase soil, seeds, tools, and educational materials for local workshops. Additionally, funds will go towards building raised garden beds and installing water-saving irrigation systems. Help us cultivate a space where our community can flourish together.</p>
                          </div>
                        </div><!-- End Service Item -->
              
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                          <div class="service-item position-relative">
                            <div class="icon">
                              <i class="bi bi-globe" style="color: #6610f2;"></i>
                            </div>
                            <a href="{% url 'campaign2' %}" class="stretched-link">
                              <h3>Medical Supplies for Rural Clinics</h3>
                            </a>
                            <p> Access to basic medical supplies can mean the difference between life and death in rural areas. Our campaign seeks to deliver critical medical supplies—including antibiotics, vaccines, and diagnostic tools—to clinics serving remote communities. These clinics are often under-resourced but provide essential care to those who need it most. Your donation will directly support the procurement and distribution of these vital supplies, ensuring that healthcare professionals have the tools they need to save lives.</p>
                          </div>
                        </div><!-- End Service Item -->
              
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                          <div class="service-item position-relative">
                            <div class="icon">
                              <i class="bi bi-clock" style="color: #f3268c;"></i>
                            </div>
                            <a href="{% url 'campaign2' %}" class="stretched-link">
                              <h3>Smart Home Energy Management System</h3>
                            </a>
                            <p>Introducing EcoHome, an innovative smart home energy management system designed to optimize energy use and reduce utility bills. Our system uses real-time data and machine learning to adjust lighting, heating, and cooling based on user behavior and environmental conditions. By investing in EcoHome, you help us finalize product development, conduct field tests, and launch a user-friendly app interface. Join us in making homes smarter and more sustainable.</p>
                          </div>
                        </div>
                    <!-- End Service Item -->

                </div>
        
              </div>
        
            </section><!-- /Services Section --><!-- End Service Item -->
              
              
             
    

  </main><!-- End #main -->

  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; 2024 <strong><span>Hopescope</span></strong>. All Rights Reserved.
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Main JS File -->
{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
</body>


</html>
